<div class="container" *ngIf="!isLoading; else loadingIndicator">
  <div class="theme-content">
    <app-welcome *ngIf="!(isLoggedIn$ | async)"></app-welcome>
    <!-- theme-title  -->
    <div class="theme-title">
      <div class="theme-name-wrapper">
        <div class="theme-name">
          <h2>{{ theme.themeName }}</h2>
          <p>
            Date: <time>{{ theme.createdAt | date : "short" }}</time>
          </p>
        </div>
        <div class="subscribers">
          <p>
            Subscribers: <span>{{ theme.subscribers.length }}</span>
          </p>
          <button
            *ngIf="(isLoggedIn$ | async) && canSubscribe"
            class="subscribe"
            (click)="handleSubscribeUnsubscribe(theme._id)"
          >
            Subscribe
          </button>
          <button
            *ngIf="(isLoggedIn$ | async) && !canSubscribe"
            class="unsubscribe"
            (click)="handleSubscribeUnsubscribe(theme._id)"
          >
            Unsubscribe
          </button>
        </div>
      </div>
    </div>
    <!-- comment  -->
    <div class="comment" *ngFor="let comment of theme.posts">
      <header class="header">
        <p>
          <span>{{ comment.userId.username }}</span> posted on
          <time>{{ comment.createdAt | date : "short" }}</time>
        </p>
        <div class="actions" *ngIf="comment.userId._id === currentUser?._id">
          <button class="actions__edit">
            <i class="fa-regular fa-pen-to-square"></i> Edit
          </button>
          <button class="actions__delete">
            <i class="fa-regular fa-trash-can"></i> Delete
          </button>
        </div>
      </header>
      <div class="comment-main">
        <div class="userdetails">
          <img
            [src]="comment.userId.photoURL || '/assets/profile.png'"
            alt="avatar"
          />
        </div>
        <div class="post-content">
          <p>
            {{ comment.text }}
          </p>
        </div>
      </div>
      <div class="footer">
        <i
          *ngIf="(isLoggedIn$ | async) && canLike(comment)"
          (click)="handleLikeUnlike(comment._id)"
          class="fas fa-thumbs-up"
        ></i>
        <i
          *ngIf="(isLoggedIn$ | async) && !canLike(comment)"
          (click)="handleLikeUnlike(comment._id)"
          class="fas fa-thumbs-down"
        ></i>
        <p>
          <span>{{ comment.likes.length }}</span> likes
        </p>
      </div>
    </div>
    <div class="answer-comment" *ngIf="isLoggedIn$ | async">
      <p>
        <span>{{ currentUser?.username }}</span> comment:
      </p>
      <div class="answer">
        <form #postForm="ngForm" (ngSubmit)="handleAddPost(postForm)">
          <textarea
            name="postText"
            #postText="ngModel"
            ngModel
            id="comment"
            cols="30"
            rows="10"
            required
            minlength="5"
          ></textarea>
          <ng-container *ngIf="postText.touched && postText.invalid">
            <p *ngIf="postText.errors?.['required']" class="error">
              The field with your post is required.
            </p>
            <p *ngIf="postText.errors?.['minlength']" class="error">
              Post must be at least 5 characters long.
            </p>
          </ng-container>
          <button [disabled]="postForm.invalid">Post</button>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingIndicator>
  <div class="container" *ngIf="isLoading">
    <div class="theme-content">
      <app-loader></app-loader>
    </div>
  </div>
</ng-template>
